<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    {% if form.errors %}
    <p>There's something wrong with what you entered!</p>
    {% endif %}

    {% if next  %}
    <p>Access Denied login first!!!</p>
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}

        <p>Username: {{form.username}}</p>
        <p>Password: {{form.password}}</p>
        <p><input type="submit" value="login"></p>
        <input type="hidden" name="next" value="{{ next }}">    
    </form>



</body>
</html>