@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

*:first-child + html .clearfix {
  zoom: 1;
}

.row {
  float: left;
  width: 100%;
}
.row .col {
  float: left;
}
.row .cor {
  float: right;
}
.row .col,
.row .cor {
  width: 100%;
}
.row .col-1,
.row .cor-1 {
  width: 8.3333333333%;
}
.row .col-2,
.row .cor-2 {
  width: 16.6666666667%;
}
.row .col-3,
.row .cor-3 {
  width: 25%;
}
.row .col-4,
.row .cor-4 {
  width: 33.3333333333%;
}
.row .col-5,
.row .cor-5 {
  width: 41.6666666667%;
}
.row .col-6,
.row .cor-6 {
  width: 50%;
}
.row .col-7,
.row .cor-7 {
  width: 58.3333333333%;
}
.row .col-8,
.row .cor-8 {
  width: 66.6666666667%;
}
.row .col-9,
.row .cor-9 {
  width: 75%;
}
.row .col-10,
.row .cor-10 {
  width: 83.3333333333%;
}
.row .col-11,
.row .cor-11 {
  width: 91.6666666667%;
}
.row .col-12,
.row .cor-12 {
  width: 100%;
}

@media all and (max-width: 800px) {
  .or {
    display: none;
  }

  .row .col,
  .row .cor {
    width: 100% !important;
  }
}
.login {
  padding: 10px;
}
.login--wrap {
  max-width: 900px;
  min-width: 200px;
  margin: 50px auto;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
}
.login--l,
.login--s {
  height: 630px;
  position: relative;
}
.login--s {
  background-color: #343A40;
  z-index: 0;
}
.login--s * {
  color: #fff;
}
.login--s .title {
  text-align: center;
  position: relative;
  margin: 30px auto;
}
.login--s .title::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #fff;
}
.login--s .title .text {
  position: relative;
  background-color: #343A40;
  padding: 3px 10px;
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
}
.login--s .title .text {
  color: #fff;
}
.login--s label input {
  color: #fff;
  border-bottom-color: #fff;
}
.login--alt {
  background-color: #e84a5f;
}
.login--alt .title {
  text-align: center;
  position: relative;
  margin: 30px auto;
}
.login--alt .title::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #fff;
}
.login--alt .title .text {
  position: relative;
  background-color: #e84a5f;
  padding: 3px 10px;
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
}
.login--alt .title .text {
  color: #fff;
}
.login--l {
  background-color: #fff;
}
.login--l .title {
  text-align: center;
  position: relative;
  margin: 30px auto;
}
.login--l .title::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #2f2f2f;
}
.login--l .title .text {
  position: relative;
  background-color: #fff;
  padding: 3px 10px;
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
}
.login--l .title .text {
  color: #2a363b;
}
.login--l * {
  color: #2a363b;
}
.login--body {
  margin-top:-50px;
  padding: 0 20px;
}

.sbmt {
  text-align: right;
  padding-right: 20px;
}
.sbmt--btn {
  padding: 10px 15px;
  background-color: #355c7d;
  color: #fff;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.sbmt--btn:hover {
  background-color: #e84a5f;
}

.or {
  width: 50px;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 100%;
  transform: translate(-50%, 50%);
  z-index: 3;
  cursor: default;
  font-weight: bold;
}

label {
  display: block;
  margin: 20px auto;
  padding: 10px;
}
label .label {
  padding: 0 0 2px 10px;
}
label input {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #888;
  background-color: transparent;
  padding: 8px 15px;
}

.title {
  font-size: 1.3em;
  padding: 20px 0;
  text-align: center;
}

.btn-set {
  min-width: 200px;
  max-width: 500px;
  margin: 20px auto;
}
