.userprofile {
  font: 16px Montserrat, sans-serif;
}

.aboutuser {
  /* background-color: #6ac2ce; Green */
  text-align: center;
  padding-top: 100px;
  width: 100%;
  padding-bottom: 20px;
  font-size: 16px;
  text-align: center;
}

.content {
  border-collapse: collapse;
  width: 90%;
  margin-left: 70px;
  padding: 8px;
  font-size: large;
  /* background-color: #f2f2f2; */
}
