{% extends 'main/base.html' %}
{% load static %}
{% block title%}Drive{% endblock title%}
{% block content%} 
    <!-- ------------------------------ BUTTON ---------------------------------- -->
    {{temp}}
    <form enctype="multipart/form-data" method="post" action="/api/file">{% csrf_token %}
      <input  type="file" name="file_data" />
      <button type-"submit" class="addbtn" style="border-left: 1px solid royalblue">
        <img src="{% static 'main/images/add_button.png' %}" />
      </button>
    </form>

    <!-- <button class="addbtn" style="border-left: 1px solid rgb(39, 109, 108)"> 
            <i class="fa fa-caret-down"></i>
            <img src="add button.png" />
          </button>
          <div class="dropdown-content">
            <ul class = "adding content">
                <li>Create Folder</li>
                <li>Add Folder</li>
                <li>Add File</li>
            </ul>  -->

    <!-- ------------------------------ BUTTON ---------------------------------- -->

    <!-- ------------------------------ TABLE ---------------------------------- -->
    <br />
    <h2>FILES ADDED</h2>

    <table class="items-table">
      <tr class="items-table-row">
        <th>SERIAL NO.</th>
        <th>FILE NAME</th>
        <th>UPLOADED ON</th>
        <th>FILE SIZE</th>
        <th>VIEW</th>
        {% comment %} <th>EDIT</th> {% endcomment %}
        <th>DELETE</th>
      </tr>
      {% for file in files %}
      <tr class="items-table-row">
        <td>{{forloop.counter}}</td>
        <td>{{file.file_name}}</td>
        <td>{{file.created_at}}</td>
        <td>{{file.file_size}}</td>
        <td>
          <button class="viewbtn" style="border-left: 1px solid royalblue">
            <img src="{% static 'main/images/view_button.jpg' %}" />
          </button>
        </td>
        {% comment %} <td>
          <button class="editbtn" style="border-left: 1px solid royalblue">
            <img src="{% static 'main/images/edit_button.png' %}" />
          </button>
        </td> {% endcomment %}
        <td>
            <button type="submit" class="delbtn" style="border-left: 1px solid royalblue">
            <img src="{% static 'main/images/delete_button.png' %}" />
          </button>
        </td>
      </tr>
      {% endfor %}
      
    </table>
    <!-- ------------------------------ TABLE ---------------------------------- -->

 {% endblock content%}
