{% extends 'main/base.html' %}
{% load static %}
{% block title%}Home{% endblock title %}
{% block content%}

<!-- FIRST Container -->
<div class="info text-center">
  <img
    src="{% static 'main/images/Logo.jpg' %}"
    class="img-responsive img-circle margin"
    style="display: inline"
    alt="logo"
    width="200"
    height="200"
  />
  <h3 class="margin">SECURE DRIVE</h3>
  <h3 class="margin">What is Secure Drive?</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. <br />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, incididunt ut
    labore et dolore magna aliqua. <br />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. <br />
  </p>
  <h3 class="margin">How does Secure Drive Work?</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. <br />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, incididunt ut
    labore et dolore magna aliqua. <br />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. <br />
  </p>
</div>

<div class="name-footer">
  <div class="name-footer-item">
    <img
      src="{% static 'main/images/profile.jpg' %}"
      class="pictures"
      alt="logo"
      width="200"
      height="200"
    />
    <p>YASH MEHTA</p>
  </div>
  <div class="name-footer-item">
    <img
      src="{% static 'main/images/profile.jpg' %}"
      class="pictures"
      alt="logo"
      width="200"
      height="200"
    />
    <p>NIDHI NAIR</p>
  </div>
  <div class="name-footer-item">
    <img
      src="{% static 'main/images/profile.jpg' %}"
      class="pictures"
      alt="logo"
      width="200"
      height="200"
    />
    <p>OM RAWAL</p>
  </div>
</div>
{% endblock content%}
