{% extends 'main/base.html' %}
{% load static %}
{% block title%}Home{% endblock title %}
{% block content%}

<!-- FIRST Container -->
<div class="info-drive text-center">
  <img
    src="{% static 'main/images/Logo.jpg' %}"
    class="img-responsive img-circle margin"
    style="display: inline"
    alt="logo"
    width="200"
    height="200"
  />
  <h3 class="margin">SECURE DRIVE</h3>
  <h3 class="margin">What is Secure Drive?</h3>
  <p>
    We use drive to store our important documents, records, images as well as memos.<br> So
it is a repository where the user can store, view, edit as well as download their own files
as and when required.<br> But the major disadvantage of these drives is that there is always
a sole administrator which has access to all the accounts.<br> So in case of any suspicious
or malicious activity, he/she(admin) can have a look at our account. <br>This enhanced us
to engender an idea to implement a secure drive which will value the highly rated<br> motto
of furtiveness as well as privacy which is the most desired principle in today’s era.
  </p>
  <h3 class="margin">How does Secure Drive Work?</h3>
  <p>
    Overcome the problem of Administrator’s access to the contents of Database even
    though <br>the contents are restricted to the authenticated user. Hence to overcome this
    issue the files will be stored in an encrypted<br> format and the contents will not be visible
    to the Administrator. Also to keep the files secured from unauthorized users or any
    malicious activity, <br>the Drive will be immune to attacks and penetrations using
    encryption and two-step authentication.
  </p>
</div>

<div class="name-footer">
  <div class="name-footer-item">
    <img
      src="{% static 'main/images/profile.jpg' %}"
      class="pictures"
      alt="logo"
      width="200"
      height="200"
    />
    <p>YASH MEHTA</p>
  </div>
  <div class="name-footer-item">
    <img
      src="{% static 'main/images/profile.jpg' %}"
      class="pictures"
      alt="logo"
      width="200"
      height="200"
    />
    <p>NIDHI NAIR</p>
  </div>
  <div class="name-footer-item">
    <img
      src="{% static 'main/images/profile.jpg' %}"
      class="pictures"
      alt="logo"
      width="200"
      height="200"
    />
    <p>OM RAWAL</p>
  </div>
</div>
{% endblock content%}
