{% extends 'main/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block content%}
<div class="userprofile text-center">
  <br />
  <h3 class="margin">LOREM IPSUM</h3>
  <img
    src="{% static 'main/images/profile.jpg' %}"
    class="img-responsive img-circle margin"
    style="display: inline"
    alt="Display Picture"
    width="300px"
    height="300px"
  />
  <h3>
    USERNAME<br />
    _username_
  </h3>
</div>

<!-- Second Container -->
<div class="aboutuser bg-2 text-center">
  <table class = "content">
    <tr>
      <th>Files Stored</th>
      <th> 20 </th>
    </tr>
    <tr>
      <th>Storage Used</th>
      <th> 1 GB </th>
    </tr>
  </table>

  <h3 class="margin">About Me</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. <br />Ut enim ad minim
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat.<br />
  </p>
</div>
{% endblock content %}